[submodule "measurement/vartest"]
	path = measurement/vartest
	url = https://github.com/myk12/vartest.git
[submodule "third_party/NOPaxos"]
	path = third_party/NOPaxos
	url = https://github.com/myk12/NOPaxos.git
[submodule "third_party/cornerstone"]
	path = third_party/cornerstone
	url = https://github.com/myk12/cornerstone.git
[submodule "infra/nic_fpga/corundum"]
	path = infra/nic_fpga/corundum
	url = https://github.com/myk12/corundum.git
[submodule "infra/nic_driver"]
	path = infra/nic_driver
	url = https://github.com/myk12/driver_nic.git
