# meas.cfg
# comments start with # or ;
[probe]
src_ip = 0.0.0.0
dst_ip = 177.0.2.1
listen_ip = 177.0.2.1
dst_port = 1997
listen_port = 1997

req_id_start = 1
count = 1000000
interval_us = 1
payload_size = 256

sender_csv = sender.csv
receiver_csv = receiver.csv

# receiver behavior
recv_timeout_ms = 1000
idle_exit_after_ms = 10000

[background]
src_ip = 0.0.0.0
dst_ip = 177.0.1.1
bind_ip = 177.0.1.1
dst_port = 9001
listen_port = 9001
payload_size = 1400
threads = 8
duration_sec = 600
cpu_base = 0
cpu_id = 8
report_interval_sec = 1
